<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Anton|Play|Permanent+Marker"
      rel="stylesheet"
    />
    <title>The Greatest Portfolio</title>
    <style>
      .aboutme,
      h3,
      h6,
      #nav,
      p,
      .to-top {
        font-family: "Play", sans-serif;
      }

      section {
        width: 100%;
        height: 1000px;
        position: relative;
        overflow: hidden;
      }

      h1,
      .subButton,
      .Ria {
        font-family: "Permanent Marker", cursive;
      }

      .zoom {
        background-image: url("https://farm1.staticflickr.com/941/42044417650_60bf8d6ab5_o.png");
        background-size: cover;
        background-attachment: fixed;
      }

      .zoom img {
        max-width: 500%;
        width: 100%;
        position: absolute;
        left: 80%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-70%);
      }

      #hello {
        max-width: 500px;
        color: white;
        position: absolute;
        top: 50%;
        min-height: 60px;
        margin: auto;
        margin-top: -10px;
        left: 0;
        right: 0;
        border: 1px solid white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 20%;
      }

      #main {
        padding-right: 100px;
        padding-left: 100px;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript">
      $(window).scroll(function() {
        var scroll = $(window).scrollTop();
        $(".zoom img").css({
          width: 100 + scroll / 5 + "%",
          top: -(scroll / 80) + "%",
          "-webkit-filter": "blur(" + scroll / 70 + "px)",
          filter: "blur(" + scroll / 70 + "px)"
        });
      });
    </script>
  </head>

  <body>
    <div class="w3-top w3-hide-small" id="nav">
      <div class="w3-bar w3-black w3-hover-black w3-center w3-small">
        <a href="#" class="w3-bar-item w3-button" style="width:25% !important"
          >HOME</a
        >
        <a
          href="#about"
          class="w3-bar-item w3-button"
          style="width:25% !important"
          >ABOUT</a
        >
        <a
          href="#projects"
          class="w3-bar-item w3-button"
          style="width:25% !important"
          >PROJECTS</a
        >
        <a
          href="#contact"
          class="w3-bar-item w3-button"
          style="width:25% !important"
          >CONTACT</a
        >
      </div>
    </div>

    <section class="zoom" id="home">
      <img
        src="https://farm1.staticflickr.com/862/42044421720_5203b44d4d_o.png"
      />
    </section>

    <div id="main">
      <div id="hello">
        <h1 style="font-size:45px; margin-bottom:-20px">NOEL MANDAL</h1>
        <h6>Aspiring Developer</h6>
      </div>

      <div id="about">
        <h1><center>ABOUT ME</center></h1>
        <h4 class="aboutme w3-center">
          <p>
            My name is Noel Mandal, born and raised in south eastern San Diego,
            CA. I have ASE certifications in the automotive industry and have
            worked the last six years in the field of repairing vehicles and
            managing a Service Department of a Honda dealership in San Diego. As
            a graduate of Origin Code Academy (now SDCS) I wish to further my
            knowledge and gain higher understanding in this field of code and
            software/web development. I enjoy tinkering, learning how things
            work, and creating new projects in different and unique ways. I also
            like funny things and making them.
          </p>
          <p>
            Enjoy my portfolio and other projects here or on my git hub. If
            you'd like to contact me, feel free to use the contact form below!
          </p>
        </h4>
      </div>

      <br />

      <div id="projects">
        <h1><center>PROJECTS</center></h1>
        <div class="w3-row-padding w3-center w3-section w3-margin-top">
          <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:350px">
              <h3>Hackathon API Project</h3>
              <br />
              <a
                href="https://nm-react100-hackathon.herokuapp.com/"
                target="_blank"
              >
                <img
                  src="http://i64.tinypic.com/2a5h8i.png"
                  class="w3-hover-opacity"
                  border="0"
                  alt="hackathon"
                  style="width:100%"
                />
              </a>
            </div>
          </div>
          <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:350px">
              <h3>TBE</h3>
              <br />
              <a
                href="https://nm-node200-ejs-portfolio.herokuapp.com/"
                target="_blank"
              >
                <img
                  src="http://i66.tinypic.com/jk8s4k.png"
                  class="w3-hover-opacity"
                  border="0"
                  alt="tbe"
                  style="width:100%"
                />
              </a>
            </div>
          </div>
          <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:350px">
              <h3>Very Simple To Do App</h3>
              <br />
              <a
                href="https://nm-react100-vstda.herokuapp.com/"
                target="_blank"
              >
                <img
                  src="http://i68.tinypic.com/kcf21e.jpg"
                  class="w3-hover-opacity"
                  border="0"
                  alt="VSTDA"
                  style="width:100%"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="w3-center" id="contact">
        <h1><center>CONTACT ME</center></h1>
        <a href="https://github.com/NoelMandal" class="giticon" target="_blank">
          <i
            class="fa fa-github-square fa-3x w3-hover-opacity"
            aria-hidden="true"
          ></i>
        </a>
        <a
          href="https://www.linkedin.com/in/noel-mandal-2b55b6b9/"
          class="inicon"
          target="_blank"
        >
          <i
            class="fa fa-linkedin-square fa-3x w3-hover-opacity"
            aria-hidden="true"
          ></i>
        </a>
        <form action="/thanks" method="POST">
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              id="fullName"
              name="fullName"
              type="text"
              placeholder="Name"
            />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              id="email"
              name="email"
              type="text"
              placeholder="Email"
            />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              id="message"
              name="message"
              placeholder="Leave me a message!"
              type="text"
            />
          </p>
          <input
            type="submit"
            class="subButton w3-button w3-block w3-black w3-center w3-round-large"
            style="width:100%"
          />
        </form>
      </div>

      <!-- inside main -->
    </div>
    <br />
    <footer class="w3-center w3-black w3-padding-64">
      <a href="#" class="to-top w3-button w3-light-grey">
        <i class="fa fa-arrow-up w3-margin-right"></i>BACK TO TOP!</a
      >
      <div class="w3-xlarge w3-section">
        <a href="https://github.com/NoelMandal" class="giticon" target="_blank">
          <i
            class="fa fa-github-square w3-hover-opacity"
            aria-hidden="true"
          ></i>
        </a>
        <a
          href="https://www.linkedin.com/in/noel-mandal-2b55b6b9/"
          class="inicon"
          target="_blank"
        >
          <i
            class="fa fa-linkedin-square w3-hover-opacity"
            aria-hidden="true"
          ></i>
        </a>
        <a class="Ria">RIAA!</a>
      </div>
    </footer>
  </body>
</html>
